<div class="flash-success">
  <span>This is a green success message <a href="#">with a link</a></span>
</div>

<div class="flash-error">
  <span>This is a red error message <a href="#">with a link</a></span>
</div>

<div class="flash-notice">
  <span>This is a blue notice message <a href="#">with a link</a></span>
</div>

<div class="flash-alert">
  <span>This is a yellow alert message <a href="#">with a link</a></span>
</div>
